*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
   scroll-padding-top: 80px;
}
html,body{
overflow-x: hidden;
}

body{
  
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #F1F5F9;
  padding: 0;
  background-color: #ffffff;
   padding-top: 70px;
}

img{
  max-width: 100%;
  display: block;
}
:root{

  --primary-color: #4CAF50;
  --secondary-color: #00A63E;

  --text-color: #1e1e1e;
  --light-text: #6b6b6b;

  --container-width: 1200px;
}
.container{
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}