.testimonials{
  text-align: center;
  padding: 55px 20px;
  background: #f5f5f5;
}

.testimonials h2{
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
}

.testimonials p{
  color: #555;
  margin-bottom: 40px;
}

.testimonial-cards{
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  
}
.user-name{
  color:black;
}

.user-service{
    color: #555;
    font-size:11px ;
}

.testimonial-card{
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.testimonial-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

.stars{
  color: #f5a623;
  margin-bottom: 15px;
}

.testimonial-text{
  font-style: italic;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;

}

.user-top{
  display: flex;
  align-items: center;
  gap: 10px;

}

.user-info{
  display: flex;
  flex-direction: column;
  gap: 12px;
    margin-top: auto;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4CAF50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
.results-img img{
  width:100%;
  border-radius: 10px;
  margin-top: 10px;
  object-fit: cover;

}

.stars{
  font-size: 1.2rem;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .testimonial-card{
    padding: 20px;
    
  }
  .testimonial-text{
    font-size: 0.9rem;
  }
}

@media (max-width: 480px){
  .results-img img{
    height: 180px;
  }
}